@import 'yeticss'

header
  padding-top: 50px

.label-color
  width: 24px
  height: 24px
  border: 1px solid grey
  border-radius: 20px
  display: inline-block

.label-form

  button
    height: 40px
    position: relative
    top: 2px

.label-view
  margin-top: 20px
  > *
    margin-left: 10px
    margin-right: 10px
